<div class="container">
  <div class="container">
  <app-about password="venkat" (changeInput)="getInput($event.val)" [dates]="dates"></app-about>
   <div class="app-about" password="venkat" (changeInput)="getInput($event.val)"></div>
  <div app-about password="venkat" (changeInput)="getInput($event.val)"  ></div>
  <!-- <br>
  <button (click)="clickMe()">Click Me</button>

  <input type="text" id="globalsearch" [(ngModel)]="search" (keyup)="searchval()">
  <div *ngIf="tableData.length>0;else noData">
    <!-(keyup)="searchval()" -->

    <!-- creating my table using json -->


<table class="table table-hover table-stripped table-bordered">

  <thead>
    <tr>
      <th>SNO</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Company</th>
      <th>Technology</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of myData;let i=index">
      <td>{{i+1}}</td>
      <td><input type="checkbox">{{items.firstname}}</td>
      <td>{{items.lastname}}</td>
      <td>{{items.company}}</td>
      <td>{{items.technology}}</td> 
    </tr>

  </tbody>
</table>








  <table class="table table-response table-stripped table-hover table-bordered">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Questions</th>
        <th>Answers</th>
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let items of questionsData;let ind=index">
        <td>{{ind+1}}</td>
        <td>{{items.questions}}</td>
        <td> 
          <span *ngFor="let answers of items.answers">
            <input type="checkbox" /> {{answers}}<br>
          </span>
        </td>
      </tr>
    </tbody>
  </table>







  <table class="table table-response table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th *ngFor="let item of tableMeta.userMeta">{{item['name']}}</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData">
        <td *ngFor="let labelitem of tableMeta.userMeta"> {{data[labelitem.label]}} </td>
        <td>{{data.dob | age}}</td>
      </tr>
      <tr *ngIf="tableData.length==0">
        <td>No Records Found</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <div class="row alert alert-danger">{{errorMessage}}</div>
</ng-template>


{{aboutval}}  
<pre>
    {{tableData | json}}
</pre>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th *ngFor="let item of childTableHeaders">
        {{item.name}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of childTableData">
      <td *ngFor="let item of childTableHeaders">
        {{data[item.label]}}
      </td>
    </tr>
  </tbody>
</table>
<!-- <br> -->
<app-read-more>
    <input type="text" id="globalsearch" [(ngModel)]="filterval">

    <div *ngFor="let item of tileInfo | filterText:filterval">
      <div class="row" style="margin-bottom:10px ;   border-bottom: 1px solid #eee;">
        <div class="col-sm-4">
          {{item.title}}
        </div>
        <div class="col-sm-8">
          {{item.body}}
             <hr> {{item.subtext}}
        </div>
      </div>
    </div>
  </app-read-more>

</div>
<app-life-cycle-hooks></app-life-cycle-hooks>


<!-- Activation guard authentication 
onchange detection strategy.onpush
json 
databinding selector types 
behavioural subject and subject from eng services
differences bw angualr versions and learn javascript interview questions-->
<div class="global-filter">
  <div class="input-group filter-section" style="">
    <input id="globalSearch" type="text" name="globalsearch" value="{{filtersearch}}" [(ngModel)]="filtersearch" [readonly]="readonly"
      style="border: none;width: 100%;border-radius: 0px;z-index:10000;height:30px;    outline: none;" (keyup)="searchFilter()"  />
      (keyup)="globalFilter()"  
    <span class="input-group-addon" style="border: 0; background: none;padding: 0px;color: #333;border-radius: 0px;background:#fff">
      <i class="glyphicon glyphicon-search iconsearch" style="top: 8px; right: 3px;"></i>
    </span>
  </div>
  <div class="sub-menu" style="">
   <div style="border-bottom:1px solid #000;background:#F6F6F6;    padding-left: 5px;">
    <ng-template ngFor let-fields [ngForOf]="globalSearchFields" let-i="index">
       <input type="checkbox" value="{{fields.title}}" (change)="changeCheckedVal($event.target.checked,$event.target.value,fields.options)"
        /> {{fields.title}} 
    </ng-template>
    </div>
    <div *ngFor="let lists of Searchlist " class="sub-sections">
      <div *ngFor="let items of lists.options  | filterText:filtersearch" class="items-list" (click)="selectedOptions(items)">
        {{items}}
      </div>
    </div>
  </div>
</div>
<fieldset>
  <label>Input XML</label>
  <textarea class="span12" name="xmlcontent" rows="15">
    {{xmlString}}
  </textarea>
</fieldset>
<button type="button" class="btn btn-primary">Generate Tree</button>
<ul id="treeView" style="display: none;">
  <li></li>
</ul>
