<!-- <span #childcontent>Child data</span> -->
Route id:{{id}}
<div appMyDirective defaultColor='blue'>hi hello </div>
<div>
  {{dateval}}
</div>
<div class="row alert alert-info">
  <app-child ganga="{{ueserName}}"></app-child>
</div>
<div class="row alert alert-danger">
  <app-child ></app-child>
</div>
{{formData | json}}
<div>
  <app-form-validataions></app-form-validataions>
</div>

<!-- content projection displaying dynamic content using ng-content -->
<div class="row">
  <app-content-projection id="collapse1" header="Header Section 1">

    <div class="body">Some Body</div>
    <h1 class="footer"> Some Footer</h1>
    <div venkat>Hey Iam ventka</div>


  </app-content-projection>

</div>

<div class="row">
  <app-content-projection id="collapse2" header="Header Section 2">
    <form class="body">
      <app-date-viewer></app-date-viewer>
      <input type="text" />
    </form>
  </app-content-projection>
</div>
